
CREATE DATABASE [CinestarDatabase]
GO
USE [CinestarDatabase]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NULL,
	[email] [varchar](250) NULL,
	[phone] [varchar](11) NULL,
	[password] [varchar](50) NULL,
	[address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[Cname] [nvarchar](50) NULL,
	[Cemail] [varchar](100) NULL,
	[Cphone] [varchar](11) NULL,
	[Ccontent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[couponId] [varchar](100) NOT NULL,
	[user_Email] [varchar](250) NULL,
	[priceDiscound] [int] NULL,
	[status] [bit] NULL,
	[DateEnd] [datetime] NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[couponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endow]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endow](
	[endowId] [varchar](10) NOT NULL,
	[endowContent] [nvarchar](2000) NULL,
	[endowImage] [varchar](250) NULL,
	[endowTitle] [nvarchar](50) NULL,
 CONSTRAINT [PK_Endow] PRIMARY KEY CLUSTERED 
(
	[endowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[languageId] [int] IDENTITY(1,1) NOT NULL,
	[languageName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[languageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipCard]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipCard](
	[cardno] [varchar](50) NOT NULL,
	[totalspend] [int] NOT NULL,
	[dateregister] [date] NULL,
	[user_email] [varchar](250) NULL,
	[Point] [int] NULL,
 CONSTRAINT [PK_membershipCard] PRIMARY KEY CLUSTERED 
(
	[cardno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[movieId] [varchar](10) NOT NULL,
	[movieTitle] [nvarchar](50) NULL,
	[movieCategory] [nvarchar](50) NULL,
	[performer] [nvarchar](100) NULL,
	[filmDirector] [nvarchar](30) NULL,
	[movieContent] [nvarchar](2000) NULL,
	[image] [varchar](250) NULL,
	[trailer] [varchar](250) NULL,
	[startMovie] [date] NULL,
	[endMovie] [date] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieLanguage]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieLanguage](
	[idMovieLanguage] [int] IDENTITY(1,1) NOT NULL,
	[idMovie] [varchar](10) NULL,
	[idLanguage] [int] NULL,
 CONSTRAINT [PK_MovieLanguage] PRIMARY KEY CLUSTERED 
(
	[idMovieLanguage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieReview]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieReview](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[titleR] [nvarchar](250) NULL,
	[movieReviewContent] [nvarchar](max) NULL,
	[movieReviewView] [int] NULL,
	[type] [bit] NULL,
	[image] [varchar](500) NULL,
 CONSTRAINT [PK_movieReview] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingMovie]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingMovie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [varchar](10) NULL,
	[rating] [int] NULL,
	[user_rating] [varchar](250) NULL,
 CONSTRAINT [PK_RatingMovie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingThreater]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingThreater](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](250) NULL,
	[threat_id] [int] NULL,
	[numberrating] [int] NULL,
	[comment] [nvarchar](250) NULL,
	[status] [int] NULL,
	[datecomment] [datetime] NULL,
 CONSTRAINT [PK_RatingThreater] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomId] [varchar](10) NOT NULL,
	[roomName] [nvarchar](50) NULL,
	[roomSize] [int] NULL,
	[roomCategory] [varchar](50) NULL,
	[threatId] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RowOfSeats]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RowOfSeats](
	[rowId] [int] IDENTITY(1,1) NOT NULL,
	[roomId] [varchar](10) NULL,
	[rowNo] [varchar](10) NULL,
 CONSTRAINT [PK_RowOfSeats] PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[seatId] [int] IDENTITY(1,1) NOT NULL,
	[seatNo] [int] NULL,
	[rowId] [int] NULL,
	[type] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[seatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[showtimesId] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [varchar](10) NULL,
	[roomId] [varchar](10) NULL,
	[time] [time](7) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Showtimes] PRIMARY KEY CLUSTERED 
(
	[showtimesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Threat]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Threat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](500) NULL,
	[region] [nvarchar](50) NULL,
 CONSTRAINT [PK_Threat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticketId] [int] IDENTITY(1,1) NOT NULL,
	[showtimeId] [int] NULL,
	[user_email] [varchar](250) NULL,
	[ticketBookingTime] [date] NULL,
	[pay] [int] NULL,
	[totalPrice] [int] NULL,
	[priceHasDropped] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ticketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketDetailsSeat]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketDetailsSeat](
	[ticketDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ticketId] [int] NULL,
	[seatId] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_ticketDetails] PRIMARY KEY CLUSTERED 
(
	[ticketDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketDetailsWaterCorn]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketDetailsWaterCorn](
	[ticketDetailsWaterCornId] [int] IDENTITY(1,1) NOT NULL,
	[ticketId] [int] NULL,
	[idWaterCorn] [int] NULL,
	[soLuong] [int] NULL,
	[unitPrice] [int] NULL,
 CONSTRAINT [PK_TicketDetailsWaterCorn] PRIMARY KEY CLUSTERED 
(
	[ticketDetailsWaterCornId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[email] [varchar](250) NOT NULL,
	[name] [nvarchar](100) NULL,
	[dob] [datetime2](7) NULL,
	[phone] [varchar](50) NULL,
	[password] [varchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[tokenlifetime] [bigint] NULL,
	[token] [varchar](250) NULL,
	[province] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[ward] [nvarchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[id_facebook] [varchar](100) NULL,
	[id_google] [varchar](100) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterCorn]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterCorn](
	[idWaterCorn] [int] IDENTITY(1,1) NOT NULL,
	[nameWaterCorn] [nvarchar](50) NULL,
	[contentWaterCorn] [nvarchar](500) NULL,
	[imageWaterCorn] [varchar](250) NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_WaterCorn] PRIMARY KEY CLUSTERED 
(
	[idWaterCorn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 9/17/2021 8:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_Id] [varchar](10) NULL,
	[user_email] [varchar](250) NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([id], [userName], [email], [phone], [password], [address]) VALUES (1, N'', N'kimdat1999@gmail.com', NULL, N'123', NULL)
INSERT [dbo].[Admins] ([id], [userName], [email], [phone], [password], [address]) VALUES (2, N'', N'dai1998', NULL, N'123', NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Cid], [Cname], [Cemail], [Cphone], [Ccontent]) VALUES (105, N'thanh huy', N'hjy@gmail.com', N'0869772557', N'good')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
INSERT [dbo].[Coupon] ([couponId], [user_Email], [priceDiscound], [status], [DateEnd]) VALUES (N'aZoYcN8Tev', N'kimdat1307@gmail.com', 20000, 0, CAST(N'2021-10-16T19:02:40.203' AS DateTime))
INSERT [dbo].[Coupon] ([couponId], [user_Email], [priceDiscound], [status], [DateEnd]) VALUES (N'Clx9qUq1TQ', N'kimdat1307@gmail.com', 100000, 0, CAST(N'2021-10-16T18:21:18.557' AS DateTime))
INSERT [dbo].[Coupon] ([couponId], [user_Email], [priceDiscound], [status], [DateEnd]) VALUES (N'CP100BD', N'bindai243156@gmail.com', 100000, 0, CAST(N'2021-10-13T14:34:46.560' AS DateTime))
GO
INSERT [dbo].[Endow] ([endowId], [endowContent], [endowImage], [endowTitle]) VALUES (N'E001', N'- Giá vé ưu đãi: 45.000 đ/vé 2D và 55.000 đ/vé 3D.- Thời gian: Áp dụng cho tất cả các suất chiếu ngày Thứ Hai hàng tuần.- Lưu ý: Không áp dụng cho các ngày lễ/tết.
', N'c_monday.jpg', N'Tẹt Ga 45K')
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([languageId], [languageName]) VALUES (1, N'Phụ đề tiếng việt')
INSERT [dbo].[Language] ([languageId], [languageName]) VALUES (2, N'Thuyết minh tiếng việt')
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
INSERT [dbo].[MembershipCard] ([cardno], [totalspend], [dateregister], [user_email], [Point]) VALUES (N'M0TaqnouzbQf', 11910000, CAST(N'2021-08-28' AS Date), N'bindai243156@gmail.com', 642)
INSERT [dbo].[MembershipCard] ([cardno], [totalspend], [dateregister], [user_email], [Point]) VALUES (N'M1Ta2ZouzbQf', 905000, CAST(N'2021-09-07' AS Date), N'daindts1908051@fpt.edu.vn', 181)
INSERT [dbo].[MembershipCard] ([cardno], [totalspend], [dateregister], [user_email], [Point]) VALUES (N'M2vnCinvV2hs', 250830000, CAST(N'2021-09-13' AS Date), N'kimdat1307@gmail.com', 37826)
GO
SET IDENTITY_INSERT [dbo].[MovieLanguage] ON 

INSERT [dbo].[MovieLanguage] ([idMovieLanguage], [idMovie], [idLanguage]) VALUES (1, N'M001', 1)
INSERT [dbo].[MovieLanguage] ([idMovieLanguage], [idMovie], [idLanguage]) VALUES (2, N'M002', 2)
INSERT [dbo].[MovieLanguage] ([idMovieLanguage], [idMovie], [idLanguage]) VALUES (3, N'M003', 1)
SET IDENTITY_INSERT [dbo].[MovieLanguage] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieReview] ON 

SET IDENTITY_INSERT [dbo].[MovieReview] OFF
GO
SET IDENTITY_INSERT [dbo].[RatingMovie] ON 

INSERT [dbo].[RatingMovie] ([id], [movie_id], [rating], [user_rating]) VALUES (7, N'M001', 9, N'bindai243156@gmail.com')
INSERT [dbo].[RatingMovie] ([id], [movie_id], [rating], [user_rating]) VALUES (8, N'M001', 2, N'kimdat1999@gmail.com')
INSERT [dbo].[RatingMovie] ([id], [movie_id], [rating], [user_rating]) VALUES (1007, N'M004', 9, N'kimdat1999@gmail.com')
SET IDENTITY_INSERT [dbo].[RatingMovie] OFF
GO
SET IDENTITY_INSERT [dbo].[RatingThreater] ON 

INSERT [dbo].[RatingThreater] ([id], [user_email], [threat_id], [numberrating], [comment], [status], [datecomment]) VALUES (2151, N'kimdat1307@gmail.com', 1034, 3, N'rạp đẹ', 1, CAST(N'2021-09-13T12:51:03.330' AS DateTime))
INSERT [dbo].[RatingThreater] ([id], [user_email], [threat_id], [numberrating], [comment], [status], [datecomment]) VALUES (2152, N'bindai243156@gmail.com', 2, 3, N'RẠP ĐƯỢC', 1, CAST(N'2021-09-13T14:35:36.440' AS DateTime))
INSERT [dbo].[RatingThreater] ([id], [user_email], [threat_id], [numberrating], [comment], [status], [datecomment]) VALUES (3149, N'kimdat1999@gmail.com', 2, 5, N'', 1, CAST(N'2021-09-13T22:01:19.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[RatingThreater] OFF
GO
INSERT [dbo].[Room] ([roomId], [roomName], [roomSize], [roomCategory], [threatId]) VALUES (N'R01', NULL, NULL, NULL, 1)
INSERT [dbo].[Room] ([roomId], [roomName], [roomSize], [roomCategory], [threatId]) VALUES (N'R02', NULL, NULL, NULL, 2)
INSERT [dbo].[Room] ([roomId], [roomName], [roomSize], [roomCategory], [threatId]) VALUES (N'R03', NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[RowOfSeats] ON 

INSERT [dbo].[RowOfSeats] ([rowId], [roomId], [rowNo]) VALUES (1, N'R01', N'A')
INSERT [dbo].[RowOfSeats] ([rowId], [roomId], [rowNo]) VALUES (2, N'R01', N'B')
INSERT [dbo].[RowOfSeats] ([rowId], [roomId], [rowNo]) VALUES (3, N'R01', N'C')
SET IDENTITY_INSERT [dbo].[RowOfSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([seatId], [seatNo], [rowId], [type], [price]) VALUES (1, 1, 1, 1, 50000)
INSERT [dbo].[Seat] ([seatId], [seatNo], [rowId], [type], [price]) VALUES (2, 2, 1, 1, 50000)
INSERT [dbo].[Seat] ([seatId], [seatNo], [rowId], [type], [price]) VALUES (3, 3, 1, 1, 50000)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtimes] ON 

INSERT [dbo].[Showtimes] ([showtimesId], [movieId], [roomId], [time], [date]) VALUES (1, N'M001', N'R01', CAST(N'12:40:00' AS Time), CAST(N'2021-09-26' AS Date))
INSERT [dbo].[Showtimes] ([showtimesId], [movieId], [roomId], [time], [date]) VALUES (3, N'M002', N'R03', CAST(N'15:30:00' AS Time), CAST(N'2021-09-25' AS Date))
INSERT [dbo].[Showtimes] ([showtimesId], [movieId], [roomId], [time], [date]) VALUES (4, N'M002', N'R03', CAST(N'16:30:00' AS Time), CAST(N'2021-09-25' AS Date))
SET IDENTITY_INSERT [dbo].[Showtimes] OFF
GO
SET IDENTITY_INSERT [dbo].[Threat] ON 

INSERT [dbo].[Threat] ([id], [name], [phone], [address], [region]) VALUES (1, N'Cinestar My Tho', N'+84 (273) 703 8881', N'52 Dinh Bo Linh Ward 3 My Tho City Tien Giang', N'Tiền Giang')
INSERT [dbo].[Threat] ([id], [name], [phone], [address], [region]) VALUES (2, N'Cinestar Đà Lạt', N'+84 (263) 3969 969', N'Cinestar Da Lat, Lam Vien Square, Ward 10, Da Lat City, Lam Dong', N'Đà Lạt')
INSERT [dbo].[Threat] ([id], [name], [phone], [address], [region]) VALUES (3, N'Cinestar Huế', N' +84 (234) 7300 081', N'
25 Hai Ba Trung, Vinh Ninh Ward, City. Hue', N'Huế')
SET IDENTITY_INSERT [dbo].[Threat] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ticketId], [showtimeId], [user_email], [ticketBookingTime], [pay], [totalPrice], [priceHasDropped], [status]) VALUES (13, 14, N'bindai243156@gmail.com', CAST(N'2021-08-28' AS Date), 1, 650000, 650000, 1)
INSERT [dbo].[Ticket] ([ticketId], [showtimeId], [user_email], [ticketBookingTime], [pay], [totalPrice], [priceHasDropped], [status]) VALUES (16, 14, N'bindai243156@gmail.com', CAST(N'2021-08-28' AS Date), 2, 840000, 840000, 1)
INSERT [dbo].[Ticket] ([ticketId], [showtimeId], [user_email], [ticketBookingTime], [pay], [totalPrice], [priceHasDropped], [status]) VALUES (18, 14, N'bindai243156@gmail.com', CAST(N'2021-08-28' AS Date), 1, 635000, 635000, 1)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketDetailsSeat] ON 

INSERT [dbo].[TicketDetailsSeat] ([ticketDetailsId], [ticketId], [seatId], [price]) VALUES (57, 13, 193, 50000)
INSERT [dbo].[TicketDetailsSeat] ([ticketDetailsId], [ticketId], [seatId], [price]) VALUES (58, 13, 194, 50000)
INSERT [dbo].[TicketDetailsSeat] ([ticketDetailsId], [ticketId], [seatId], [price]) VALUES (59, 13, 195, 50000)
GO
SET IDENTITY_INSERT [dbo].[TicketDetailsSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketDetailsWaterCorn] ON 

INSERT [dbo].[TicketDetailsWaterCorn] ([ticketDetailsWaterCornId], [ticketId], [idWaterCorn], [soLuong], [unitPrice]) VALUES (17, 13, 1, 2, 110000)
INSERT [dbo].[TicketDetailsWaterCorn] ([ticketDetailsWaterCornId], [ticketId], [idWaterCorn], [soLuong], [unitPrice]) VALUES (20, 16, 1, 8, 440000)
INSERT [dbo].[TicketDetailsWaterCorn] ([ticketDetailsWaterCornId], [ticketId], [idWaterCorn], [soLuong], [unitPrice]) VALUES (25, 18, 5, 1, 30000)
SET IDENTITY_INSERT [dbo].[TicketDetailsWaterCorn] OFF
GO
INSERT [dbo].[Users] ([email], [name], [dob], [phone], [password], [address], [tokenlifetime], [token], [province], [district], [ward], [Gender], [id_facebook], [id_google]) VALUES (N'bindai243156@gmail.com', N'Nguyễn Doãn Đại', NULL, NULL, N'dai123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'100250377276937385824')
INSERT [dbo].[Users] ([email], [name], [dob], [phone], [password], [address], [tokenlifetime], [token], [province], [district], [ward], [Gender], [id_facebook], [id_google]) VALUES (N'daindts1908051@fpt.edu.vn', N'Đại (FPT Aptech)', NULL, NULL, N'dai123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'107629223320726244709')
INSERT [dbo].[Users] ([email], [name], [dob], [phone], [password], [address], [tokenlifetime], [token], [province], [district], [ward], [Gender], [id_facebook], [id_google]) VALUES (N'kimdat1307@gmail.com', N'Trần Kim Đạt', CAST(N'2001-01-02T07:00:00.0000000' AS DateTime2), N'0909090909', N'1234567899', N'Nshape Fitness, Đường Nguyễn Chí Thanh 71, Quận Đống Đa, Việt Nam', 1631797042464, N'CLiSETaLmeyL-AgsH7BzYFK7NniGEgefEPS7VUmIRuIMACa1Aw0EQKHejEZv', N'Đà Nẵng', N'Sơn Trà', N'Nại Hiên Đông', N'Male', N'1080661469345744', N'109794302664024016775')
GO
SET IDENTITY_INSERT [dbo].[WaterCorn] ON 

INSERT [dbo].[WaterCorn] ([idWaterCorn], [nameWaterCorn], [contentWaterCorn], [imageWaterCorn], [price]) VALUES (1, N'Bắp mặn (lớn)', N'', N'img/bap_man.jpg', 55000)
INSERT [dbo].[WaterCorn] ([idWaterCorn], [nameWaterCorn], [contentWaterCorn], [imageWaterCorn], [price]) VALUES (2, N'Bắp mặn (nhỏ)', N'', N'img/bap_man.jpg', 40000)
INSERT [dbo].[WaterCorn] ([idWaterCorn], [nameWaterCorn], [contentWaterCorn], [imageWaterCorn], [price]) VALUES (3, N'Bắp ngọt (lớn)', N'', N'img/bap_ngot.jpg', 55000)
SET IDENTITY_INSERT [dbo].[WaterCorn] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([id], [movie_Id], [user_email]) VALUES (3021, N'M002', N'bindai243156@gmail.com')
INSERT [dbo].[Wishlist] ([id], [movie_Id], [user_email]) VALUES (3022, N'M001', N'bindai243156@gmail.com')
INSERT [dbo].[Wishlist] ([id], [movie_Id], [user_email]) VALUES (3031, N'M006', N'kimdat1307@gmail.com')
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_Users] FOREIGN KEY([user_Email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [FK_Coupon_Users]
GO
ALTER TABLE [dbo].[MembershipCard]  WITH CHECK ADD  CONSTRAINT [FK_membershipCard_membershipCard] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[MembershipCard] CHECK CONSTRAINT [FK_membershipCard_membershipCard]
GO
ALTER TABLE [dbo].[MovieLanguage]  WITH CHECK ADD  CONSTRAINT [FK_MovieLanguage_Language] FOREIGN KEY([idLanguage])
REFERENCES [dbo].[Language] ([languageId])
GO
ALTER TABLE [dbo].[MovieLanguage] CHECK CONSTRAINT [FK_MovieLanguage_Language]
GO
ALTER TABLE [dbo].[MovieLanguage]  WITH CHECK ADD  CONSTRAINT [FK_MovieLanguage_Movie] FOREIGN KEY([idMovie])
REFERENCES [dbo].[Movie] ([movieId])
GO
ALTER TABLE [dbo].[MovieLanguage] CHECK CONSTRAINT [FK_MovieLanguage_Movie]
GO
ALTER TABLE [dbo].[RatingMovie]  WITH CHECK ADD  CONSTRAINT [FK_RatingMovie_RatingMovie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movieId])
GO
ALTER TABLE [dbo].[RatingMovie] CHECK CONSTRAINT [FK_RatingMovie_RatingMovie]
GO
ALTER TABLE [dbo].[RatingThreater]  WITH CHECK ADD  CONSTRAINT [FK_RatingThreater_Threat] FOREIGN KEY([threat_id])
REFERENCES [dbo].[Threat] ([id])
GO
ALTER TABLE [dbo].[RatingThreater] CHECK CONSTRAINT [FK_RatingThreater_Threat]
GO
ALTER TABLE [dbo].[RatingThreater]  WITH CHECK ADD  CONSTRAINT [FK_RatingThreater_Users] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[RatingThreater] CHECK CONSTRAINT [FK_RatingThreater_Users]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Threat] FOREIGN KEY([threatId])
REFERENCES [dbo].[Threat] ([id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Threat]
GO
ALTER TABLE [dbo].[RowOfSeats]  WITH CHECK ADD  CONSTRAINT [FK_RowOfSeats_Room] FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([roomId])
GO
ALTER TABLE [dbo].[RowOfSeats] CHECK CONSTRAINT [FK_RowOfSeats_Room]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_RowOfSeats] FOREIGN KEY([rowId])
REFERENCES [dbo].[RowOfSeats] ([rowId])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_RowOfSeats]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Movie] FOREIGN KEY([movieId])
REFERENCES [dbo].[Movie] ([movieId])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Movie]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Room] FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([roomId])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Room]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Showtimes] FOREIGN KEY([showtimeId])
REFERENCES [dbo].[Showtimes] ([showtimesId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Showtimes]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Users] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Users]
GO
ALTER TABLE [dbo].[TicketDetailsSeat]  WITH CHECK ADD  CONSTRAINT [FK_ticketDetails_Seat] FOREIGN KEY([seatId])
REFERENCES [dbo].[Seat] ([seatId])
GO
ALTER TABLE [dbo].[TicketDetailsSeat] CHECK CONSTRAINT [FK_ticketDetails_Seat]
GO
ALTER TABLE [dbo].[TicketDetailsSeat]  WITH CHECK ADD  CONSTRAINT [FK_TicketDetailsSeat_Ticket] FOREIGN KEY([ticketId])
REFERENCES [dbo].[Ticket] ([ticketId])
GO
ALTER TABLE [dbo].[TicketDetailsSeat] CHECK CONSTRAINT [FK_TicketDetailsSeat_Ticket]
GO
ALTER TABLE [dbo].[TicketDetailsWaterCorn]  WITH CHECK ADD  CONSTRAINT [FK_TicketDetailsWaterCorn_Ticket] FOREIGN KEY([ticketId])
REFERENCES [dbo].[Ticket] ([ticketId])
GO
ALTER TABLE [dbo].[TicketDetailsWaterCorn] CHECK CONSTRAINT [FK_TicketDetailsWaterCorn_Ticket]
GO
ALTER TABLE [dbo].[TicketDetailsWaterCorn]  WITH CHECK ADD  CONSTRAINT [FK_TicketDetailsWaterCorn_WaterCorn] FOREIGN KEY([idWaterCorn])
REFERENCES [dbo].[WaterCorn] ([idWaterCorn])
GO
ALTER TABLE [dbo].[TicketDetailsWaterCorn] CHECK CONSTRAINT [FK_TicketDetailsWaterCorn_WaterCorn]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Movie] FOREIGN KEY([movie_Id])
REFERENCES [dbo].[Movie] ([movieId])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Movie]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Users] FOREIGN KEY([user_email])
REFERENCES [dbo].[Users] ([email])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Users]
GO
